/* Générales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding: 30px;
    font-size: 90px !important;
    text-align: center;
    color: #94CBC1;
    text-transform: capitalize;
    margin: 50px 0px 50px 0px;
    font-family: 'Square Peg', cursive;
}
.text-intro {
    font-size: 20px;
}
p {
    font-size: 18px;
    font-weight: 300;
    color: #323232;
    font-family: 'Source Sans Pro', sans-serif;;
}

/* Fin des générales */

/* Début du header */

header {
    margin: 90px 0px 50px 0px;
}

/* Fin du header */

/* Formulaire */

form {
    padding: 80px 160px 80px 160px;
}
form label {
    font-weight: 500;
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-family: 'Square Peg', cursive;
}
form span {
    font-size: 15px;
    font-weight: 300;
    color: #323232;
    margin-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
form textarea,
form input[type="text"],
form input[type="date"],
form input[type="email"],
form input[type="password"],
form input::placeholder {
    font-size: 13px;
    font-weight: 300;
    color: #323232;
    margin-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Fin du formulaire */


/* Buttons */

.btn a,
.btn a:hover, 
.btn a:focus,
.btn-suivant a,
.btn-suivant a:hover,
.btn-suivant a:focus {
    color: #94CBC1;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Square Peg', cursive;
}
.btn {
    padding: 25px;
    margin-top: 20px;
    border: 1.5px solid #94CBC1 !important;
}
.btn-suivant {
    padding: 25px;
    margin-top: 20px;
    border: 1.5px solid #94CBC1 !important;
}

/* Fin des buttons */


/* Footer */

footer {
    margin: 60px 0px 60px 0px;
}
footer a,
footer i,
footer a:hover,
footer a:focus {
    font-size: 13px;
    font-weight: 300;
    color: #323232;
    margin-bottom: 20px;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Fin du footer */


/* Responsive */

@media screen and (max-width: 480px) {
    header {
        margin: 0px !important;
    }
    header .title-form {
        font-size: 45px !important;
    }
    form {
        padding: 0px 20px 0px 20px !important;
    }
}

@media screen and (max-width: 1024px) {
    form {
        padding: 0px 60px 0px 60px;
    }
    form label {
        font-size: 25px;
    }
}

/* Fin du responsive */